body {
    background-color: #000; /* Código hexadecimal para el color negro */
    color: #f7f7f7; /* Cambia el color del texto para que sea visible en el fondo negro */
    margin: 0; /* Elimina el margen predeterminado del cuerpo del documento */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo del documento */
}

header {
    padding: 40px;
    text-align: center;
    
    color: rgb(75, 75, 75);
}
section, footer {
    padding: 20px;
    text-align: center;
   
}

h1 {
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #bd0dd4;
}

h5 {
    color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}